@import "../../styles/imports.scss";

.examFormSection {
    width: 100%;
    margin-top: 2rem;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
    }
}

.input {
    margin-bottom: 1.2rem;

    input {
        width: 100%;
    }
}

.inputContainerFlex2 {
    display: flex;

    .input {
        margin-right: 2rem;
    }
}
