@import "../../styles/imports.scss";

.examContainer {
    height: 100vh;
    margin: 6rem 12rem;
}

.examCardSection {
    form {
        display: flex;
        flex-direction: column;

        margin-bottom: 2rem;
    }
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;

    width: inherit;

    div {
        button {
            &:first-of-type {
                margin-right: 2rem;
            }
        }
    }
}
